body {
    background: #EC9EAB;
    font-family: "Brush Script MT", cursive;
    display: flex;
    justify-content: center;
    padding: 30px;
}

#event-date {
    border: none;
    background: transparent;
    outline: none;

    font-family: "Sans Serif", cursive;
    font-size: 18px;
    color: #333;

    margin-top: 10px;
    cursor: pointer;
}

.sticky {
    position: sticky;
    top: 0;
    background: #fffef8;
    /* same as diary page */
    z-index: 10;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.diary-page {
    width: 1120px;
    min-height: 700px;
    background: #fffef8;
    padding: 30px 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    position: relative;

    h1 {
        text-align: center
    }

    ;
    padding-bottom: 60px;
}

.button {
    background-color: azure;
    color: black;
    padding: 10px 20px;
    font-family: "sans=serif";
    display: block;
    margin: 25px auto 0 auto;
    max-width: 100;
    box-sizing: border-box;
    box-shadow: #EC9EAB;
}

.line {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    position: relative;
    height: 55px;
    border-bottom: 2px solid #b7b7b7;
}

.line input {
    border: none;
    outline: none;
    background: transparent;
    font-family: "Lucida Handwriting", cursive;
    font-size: 20px;
    color: #333;
}

.expense-name {
    flex: 3;
    border: none;
    background: transparent;
    outline: none;
    font-family: "Lucida Handwriting", cursive;
    font-size: 20px;
    padding-bottom: 8px;
}

.expense-amount {
    flex: 1;
    text-align: right;
    border: none;
    background: transparent;
    outline: none;
    font-family: "Lucida Handwriting", cursive;
    font-size: 20px;
    padding-bottom: 8px;

    border-left: 2px solid #aaa;
    padding-left: 10px;
}

.date-text {
    display: none;
    font-family: "Lucida Handwriting", cursive;
    font-size: 18px;
    margin-top: 5px;
}

.total-text {
    margin-top: 25px;
    padding-right: 10px;
    font-family: "Lucida Handwriting", cursive;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
}

.line {
    display: flex;
}

.line:first-of-type {
    display: flex;
}